<%- include('../partials/header.ejs')%>

    <div class="webpage">
        <%if(connections.length){%>
            <%topics.forEach(topic=>{%>
                <h1><%= topic%></h1>
                <%connections.forEach(connection=>{%>
                    <%if(topic == connection.topic){%>
                        <a href = "/connections/<%= connection.id%>"><p  class="connectionsTabbed"><%= connection.name%></p></a>
                    <%}%>
                <%});%>
            <%});%>
            
        <%} else{%>
            <p>There are no Connections to display.</p>
        <%}%>

    </div>

<%- include('../partials/footer.ejs')%>